.list {
  display: flex;
  flex-direction: row;

  & .empty {
    font-size: var(--font-size-3);
    text-align: center;
    width: 66%;
    height: 100%;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.033);

    & svg {
      width: var(--svg-size-2);
      height: var(--svg-size-2);
    }
  }
}
