.list {
  display: grid;
  grid-template-columns: 1fr 2fr;

  & .view {
    font-size: var(--font-size-3);
    text-align: center;
    height: 100%;
    max-height: 100%;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.033);

    & > svg {
      width: var(--svg-size-2);
      height: var(--svg-size-2);
    }
  }
}

@media (orientation: portrait) {
  .list {
    & > div:first-child {
      width: 100vw;
    }

    & .view {
      width: 100vw;
    }
  }
}
