.header {
  background-color: grey;

  .data {
    display: flex;
  }
}

.messages {
  display: flex;
  flex-direction: column;
  background-color: rgb(74, 74, 74);
}
.messageContainer {
  display: flex;
}
