.menu {
  background-color: var(--color-primary-dark-2);
  border-radius: var(--border-radius);
  font-size: var(--font-size-1);
  overflow: hidden;
}

.option {
  padding: var(--padding);

  &:hover {
    background-color: var(--color-secondary-light-2);
  }
  &:active {
    background-color: var(--color-secondary-light-1);
  }
}

.button {
  font-size: var(--font-size-2);
  font-weight: bold;
  border-radius: var(--border-radius-1);
  padding: var(--padding-1);
  line-height: var(--font-size-2);
  margin-top: var(--margin);

  &:hover {
    background-color: var(--color-primary-dark);
  }
}
