.container {
  width: 75px;
  height: 50px;
  overflow: visible;
}

.menu {
  background-color: var(--color-primary-dark);
  border-radius: var(--border-radius);
  font-size: var(--font-size-1);
  overflow: hidden;
  width: max-content;
  position: absolute;
  justify-self: center;
  align-self: end;
  margin-bottom: var(--margin);
  animation: load forwards 250ms;

  .option {
    padding: var(--padding);

    &:hover {
      background-color: var(--color-secondary-light-2);
    }
    &:active {
      background-color: var(--color-secondary-light-1);
    }
  }
}

.button {
  font-size: var(--font-size-2);
  font-weight: bold;
  border-radius: var(--border-radius-1);
  padding: var(--padding-1);
  line-height: var(--font-size);
  text-align: center;

  &:hover {
    background-color: var(--color-primary-dark);
    cursor: pointer;
  }
}

@keyframes load {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
