.default header,
.default footer {
  text-align: center;
  background-color: var(--color-background-dark-1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.default main {
  box-shadow: inset 0px 2px 2px black;
  justify-content: center;
  align-items: center;
}
