form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-1);
  padding: var(--padding-2);
  background-color: var(--color-primary-dark-1);
  border-radius: var(--border-radius);

  & .fieldsets {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-2);

    & fieldset {
      border-style: none;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: var(--gap);

      & legend {
        float: left;
        font-size: var(--font-size-2);
        font-weight: bold;
        text-align: center;
        margin-bottom: var(--margin);
      }
    }
  }
}
