.field {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  font-size: var(--font-size-1);
}

label {
  font-weight: bold;
}

input,
textarea,
.field > div {
  background-color: var(--color-primary-dark);
  border-radius: var(--border-radius);
  border: var(--border-size) solid var(--color-primary-light);
  padding: var(--padding);
  min-width: var(--input-width);

  &:focus {
    border-color: var(--color-primary-dark-1);
    outline: var(--border-size-1) solid var(--color-secondary-light);
  }
}

.field > div {
  background-color: var(--color-primary-dark);
  width: var(--input-width);
  height: var(--input-width);
  padding: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: end;
  overflow: hidden;
  background-position: center;
  background-size: cover;

  &::after {
    display: var(--after-display);
    background-color: black;
    width: 100%;
    text-align: center;
    content: "Upload an image";
    padding-top: 20px;
    padding-bottom: 40px;
    opacity: 0.75;
  }
}

.field *:not(label) {
  align-self: center;
}
