@import url("vars.css");

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  & * {
    color: var(--color-text-dark);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  a:hover {
    text-decoration: none;
    color: var(--color-secondary-light);
  }
}
