@import url("vars.css");

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 100%;

  & * {
    color: var(--color-text-dark);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  & h1 {
    font-size: var(--font-size-4);
    cursor: pointer;
  }

  & main {
    background-color: var(--color-background-dark);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  & a:hover {
    text-decoration: none;
    color: var(--color-secondary-light);
  }

  & footer p {
    font-size: var(--font-size);
  }
}
