.page {
  max-width: 100vw;
  min-height: 100%;
  animation: load forwards 1000ms;
}
@keyframes load {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

h2 {
  text-align: center;
  font-size: var(--font-size-3);
  margin-top: var(--margin);
}

h3 {
  text-align: center;
  font-size: var(--font-size-2);
}

.link {
  color: var(--color-primary-light);

  &:focus {
    color: var(--color-secondary-light);
    outline-style: none;
  }
}

button {
  margin-top: var(--margin);
  background-color: var(--color-primary-light);
  font-size: var(--font-size-1);
  font-weight: bolder;
  border-style: none;
  border-radius: var(--border-radius);
  padding: var(--padding);

  &:focus {
    background-color: var(--color-secondary-light);
    outline-style: none;
  }

  &:hover {
    background-color: var(--color-secondary-light);
    transform: scale(1.05);
    transition: transform 100ms;
  }

  &:active {
    background-color: var(--color-secondary-light-1);
    transform: scale(1);
  }

  &:disabled {
    background-color: grey;
    transform: scale(1);
  }
}
