:root {
  --color-primary: grey;
  --color-primary-light: white;
  --color-primary-dark: black;

  --color-secondary: grey;
  --color-secondary-light: white;
  --color-secondary-dark: black;

  --font-size: 1rem;
  --font-size-50: 1.5rem;
  --font-size-100: 2rem;

  --padding: 1rem;
  --padding-50: 1.5rem;
  --padding-100: 2rem;

  --gap: 0.5rem;
  --gap-50: 1rem;
  --gap-100: 1.5rem;

  --border-radius: 0.5rem;
  --border-radius-50: 1rem;
  --border-radius-100: 1.5rem;
}
