.chats {
  display: flex;
  flex-direction: row;

  & .empty {
    font-size: var(--font-size-3);
    text-align: center;
    width: 66%;
    height: 100%;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & svg {
      width: 72px;
      height: 72px;
    }
  }
}
