.chats {
  display: flex;
  flex-direction: row;

  /* & dialog > div:last-child > div {
    width: 100%;
  } */

  & > p {
    font-size: var(--font-size-3);
    text-align: center;
    width: 66%;
    height: fit-content;
    align-self: center;
  }
}
