dialog:open {
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
  animation: load forwards 500ms;

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.501);
    backdrop-filter: blur(2px);
  }
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-3);
  padding: var(--padding-1);

  h2,
  button {
    margin: 0 !important;
  }

  & button {
    height: fit-content;
  }
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-background-dark-1);
  padding: var(--padding-1);
  border-radius: var(--border-radius);

  & h3 {
    margin: 0;
  }

  & p {
    font-size: var(--font-size-2);
  }

  & button {
    width: fit-content;
  }
}

@keyframes load {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
